name: Build, test and push

permissions:
  contents: read
  packages: write
  security-events: write

on:
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * 3" # Build the preview image every Wednesday at 03:00
  release:
    types:
      - published
  push:
    branches:
      - main
      - feature/**
      - fix/**
    paths:
      - .github/**
      - docker/**

concurrency:
  group: ${{ github.ref }}-publish
  cancel-in-progress: true

jobs:
  python:
    name: Python
    runs-on: ubuntu-latest
    timeout-minutes: 15
    env:
      IMAGE_NAME: tna-python
      DOCKERFILE_PATH: docker/tna-python
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Wiz
        uses: nationalarchives/ds-docker-actions/.github/actions/setup-wiz@main
        with:
          wiz-client-id: ${{ secrets.WIZ_CLIENT_ID }}
          wiz-client-secret: ${{ secrets.WIZ_CLIENT_SECRET }}

      - name: Lint Dockerfile
        uses: nationalarchives/ds-docker-actions/.github/actions/lint@main
        with:
          dockerfile-path: ${{ env.DOCKERFILE_PATH }}
          ignore-linting-rules: DL3059

      - name: Shellcheck
        run: find ${{ env.DOCKERFILE_PATH }}/bin -type f -exec shellcheck -x --exclude=SC1091 {} \;

      - name: Test Docker image build
        id: build
        uses: ./.github/actions/test-build
        with:
          image-name: ${{ env.IMAGE_NAME }}
          dockerfile-path: ${{ env.DOCKERFILE_PATH }}

      - name: Show image ID and tag
        run: |
          echo "Image ID: ${{ env.IMAGE_NAME }}"
          echo "Tag:      ${{ steps.build.outputs.tag }}"
          docker image ls ${{ env.IMAGE_NAME }}:${{ steps.build.outputs.tag }}

      - name: Scan Dockerfile
        uses: nationalarchives/ds-docker-actions/.github/actions/scan-dockerfile@main
        with:
          image-id: ${{ env.IMAGE_NAME }}
          image-tag: ${{ steps.build.outputs.tag }}
          wiz-project-id: ${{ secrets.WIZ_PROJECT_DIGITALSERVICES }}
          dockerfile-path: ${{ env.DOCKERFILE_PATH }}

      - name: Test Flask
        uses: ./.github/actions/test-container
        with:
          application-repository: nationalarchives/flask-application-template
          application-repository-branch: main
          service: app
          image: ${{ env.IMAGE_NAME }}
          image-tag: ${{ steps.build.outputs.tag }}
          expected-user: app

      - name: Test Django
        uses: ./.github/actions/test-container
        with:
          application-repository: nationalarchives/django-application-template
          application-repository-branch: main
          service: app
          image: ${{ env.IMAGE_NAME }}
          image-tag: ${{ steps.build.outputs.tag }}
          expected-user: app

      - name: Test FastAPI
        uses: ./.github/actions/test-container
        with:
          application-repository: nationalarchives/fastapi-application-template
          application-repository-branch: main
          service: app
          image: ${{ env.IMAGE_NAME }}
          image-tag: ${{ steps.build.outputs.tag }}
          expected-user: app

      - name: Build and push multi-platform Docker images
        uses: ./.github/actions/push
        with:
          image-id: ${{ env.IMAGE_NAME }}
          image-tag: ${{ steps.build.outputs.tag }}
          major-version: ${{ steps.build.outputs.major-version }}
          minor-version: ${{ steps.build.outputs.minor-version }}
          dockerfile-path: ${{ env.DOCKERFILE_PATH }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Scan Docker image
        uses: nationalarchives/ds-docker-actions/.github/actions/scan-container@main
        with:
          image-id: ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}
          image-tag: ${{ steps.build.outputs.tag }}
          wiz-project-id: ${{ secrets.WIZ_PROJECT_DIGITALSERVICES }}

  python-dev:
    name: Python Dev
    needs: python
    runs-on: ubuntu-latest
    timeout-minutes: 15
    env:
      IMAGE_NAME: tna-python-dev
      DOCKERFILE_PATH: docker/tna-python-dev
      BASE_IMAGE: ghcr.io/${{ github.repository_owner }}/tna-python
      # DISABLE_WIZ: true
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Wiz
        uses: nationalarchives/ds-docker-actions/.github/actions/setup-wiz@main
        with:
          wiz-client-id: ${{ secrets.WIZ_CLIENT_ID }}
          wiz-client-secret: ${{ secrets.WIZ_CLIENT_SECRET }}

      - name: Lint Dockerfile
        uses: nationalarchives/ds-docker-actions/.github/actions/lint@main
        with:
          dockerfile-path: ${{ env.DOCKERFILE_PATH }}
          ignore-linting-rules: DL3002

      - name: Shellcheck
        run: find ${{ env.DOCKERFILE_PATH }}/bin -type f -exec shellcheck -x --exclude=SC1091 {} \;

      - name: Test Docker image build
        id: build
        uses: ./.github/actions/test-build
        with:
          image-name: ${{ env.IMAGE_NAME }}
          base-image: ${{ env.BASE_IMAGE }}
          dockerfile-path: ${{ env.DOCKERFILE_PATH }}

      - name: Show image ID and tag
        run: |
          echo "Image ID: ${{ env.IMAGE_NAME }}"
          echo "Tag:      ${{ steps.build.outputs.tag }}"

      - name: Scan Dockerfile
        uses: nationalarchives/ds-docker-actions/.github/actions/scan-dockerfile@main
        with:
          image-id: ${{ env.IMAGE_NAME }}
          image-tag: ${{ steps.build.outputs.tag }}
          wiz-project-id: ${{ secrets.WIZ_PROJECT_DIGITALSERVICES }}
          dockerfile-path: ${{ env.DOCKERFILE_PATH }}

      - name: Test Flask
        uses: ./.github/actions/test-container
        with:
          application-repository: nationalarchives/flask-application-template
          application-repository-branch: main
          service: app
          image: ${{ env.IMAGE_NAME }}
          image-tag: ${{ steps.build.outputs.tag }}
          expected-user: root

      - name: Test Django
        uses: ./.github/actions/test-container
        with:
          application-repository: nationalarchives/django-application-template
          application-repository-branch: main
          service: app
          image: ${{ env.IMAGE_NAME }}
          image-tag: ${{ steps.build.outputs.tag }}
          expected-user: root

      - name: Test FastAPI
        uses: ./.github/actions/test-container
        with:
          application-repository: nationalarchives/fastapi-application-template
          application-repository-branch: main
          service: app
          image: ${{ env.IMAGE_NAME }}
          image-tag: ${{ steps.build.outputs.tag }}
          expected-user: root

      - name: Build and push multi-platform Docker images
        uses: ./.github/actions/push
        with:
          image-id: ${{ env.IMAGE_NAME }}
          image-tag: ${{ steps.build.outputs.tag }}
          major-version: ${{ steps.build.outputs.major-version }}
          minor-version: ${{ steps.build.outputs.minor-version }}
          base-image: ${{ env.BASE_IMAGE }}
          dockerfile-path: ${{ env.DOCKERFILE_PATH }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Scan Docker image
        uses: nationalarchives/ds-docker-actions/.github/actions/scan-container@main
        with:
          image-id: ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}
          image-tag: ${{ steps.build.outputs.tag }}
          wiz-project-id: ${{ secrets.WIZ_PROJECT_DIGITALSERVICES }}
